#container{
    display: grid;
    grid-template-columns: repeat(16, 10px);
    grid-template-rows: repeat(16, 10px);
    justify-content: center;
    align-content: center;
    height: 100vh;
}
.squares{
    border: 2px solid black;
}

/* .squares:hover {
    color: black;
} */