* {
	font-family: "Cutive", monospace;
	border: 0;
    margin: 0;
}
body {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	width: 100vw;

    background-color:#9b99ff;
    background-image:
    radial-gradient(at 43% 49%, hsla(330,88%,76%,1) 0px, transparent 50%),
    radial-gradient(at 41% 26%, hsla(294,89%,78%,1) 0px, transparent 50%),
    radial-gradient(at 8% 29%, hsla(336,75%,69%,1) 0px, transparent 50%),
    radial-gradient(at 33% 34%, hsla(215,64%,68%,1) 0px, transparent 50%),
    radial-gradient(at 59% 69%, hsla(202,79%,64%,1) 0px, transparent 50%),
    radial-gradient(at 82% 10%, hsla(206,90%,79%,1) 0px, transparent 50%),
    radial-gradient(at 42% 21%, hsla(2,61%,68%,1) 0px, transparent 50%);
}

#container {
	background-color: white;
	display: grid;
	justify-content: center;
	height: 600px;
	width: 600px;
    margin: 20px;
    box-shadow: 2px 2px 8px #00000060;
	flex-shrink: 0;
}
.squares {
	border: 1px solid #00000008;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0))
}

#buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 50vh;
    margin: 20px;
    gap: 20px;
}

button {
    flex-shrink: 0;
    padding: 0.8em;
	border-radius: 5px;
	font-size: 1rem;
	color: rgb(22, 22, 22);
    background-color: rgba(255, 248, 148, 0.8);
    box-shadow: 2px 2px 10px #00000050;
}

button:hover {
    background-color: rgb(255, 248, 148);
    cursor: pointer;
}
